<template>
   <v-app id="inspire">
      <v-content>
         <v-container fluid fill-height>
            <v-layout justify-center>
               <v-flex xs10 sm10 md10>
                  <v-card>
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>Create member</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                        <v-form>
                           <v-text-field
                              name="login"
                              label="Login"
                              type="text"
                              class="col-6"
                           ></v-text-field>
                           <v-text-field
                              id="password"
                              name="password"
                              label="Password"
                              type="password"
                           ></v-text-field>
                        </v-form>
                     </v-card-text>
                     <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" to="/">Create member</v-btn>
                     </v-card-actions>
                  </v-card>
                  <v-card class="elevation-12 mt-6">
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>List members</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                        <v-data-table
                           :headers="headers"
                           :items="desserts"
                           :items-per-page="5"
                           class="elevation-1"
                        ></v-data-table>
                     </v-card-text>
                  </v-card>
               </v-flex>
            </v-layout>
         </v-container>
      </v-content>
   </v-app>
</template>

<script>

import { mapState } from 'vuex';

export default {
   name: 'Dashboard',
   data() {
      return {
         headers: [
            { text: 'Firstname', value: 'firstname' },
            { text: 'Lastname', value: 'lastname' },
            { text: 'Email', value: 'email' },
            { text: 'Phone', value: 'phone' },
         ],
         desserts: [
            {
               firstname: 'member',
               lastname: 'test',
               email: 'test@mail.com',
               phone: '5541998963099',
            },
         ],
      };
   },
   computed: {
      ...mapState({
         accessToken: (state) => state.accessToken,
      }),
   },
   mounted() {
      if (this.accessToken === undefined) {
         this.$router.push({ path: '/' });
      }
   },
};
</script>
