<!-- eslint-disable max-len -->
<template>
   <v-app id="inspire">
      <v-content>
         <v-container fluid fill-height>
            <v-layout align-center justify-center>
               <v-flex xs12 sm8 md4>
                  <v-card class="elevation-12">
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>Church system</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                        <v-form>
                           <v-text-field
                              name="email"
                              label="Email"
                              type="text"
                              v-model="email"
                           ></v-text-field>
                           <v-text-field
                              id="password"
                              name="password"
                              label="Password"
                              type="password"
                              v-model="password"
                           ></v-text-field>
                        </v-form>
                     </v-card-text>
                     <v-card-actions>
                        <v-btn color="secundary" to="/">Create church</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" to="/" @click="loginApplication" :disabled="httpRequesting">Login</v-btn>
                     </v-card-actions>
                  </v-card>
               </v-flex>
            </v-layout>
         </v-container>
      </v-content>
   </v-app>
</template>

<script>

import { mapActions, mapState } from 'vuex';

export default {
   name: 'Login',
   data() {
      return {
         email: '',
         password: '',
      };
   },
   computed: {
      ...mapState({
         accessToken: (state) => state.accessToken,
         httpRequesting: (state) => state.httpRequesting,
      }),
   },
   methods: {
      ...mapActions(['login']),
      async loginApplication() {
         await this.login({
            email: this.email,
            password: this.password,
         });

         if (this.accessToken) {
           this.$router.push({ path: '/dashboard' });
         }
      },
   },
   mounted() {
      console.log(this.accessToken);
      if (this.accessToken) {
         this.$router.push({ path: '/dashboard' });
      }
   },
};
</script>
